@model e_Prescription.Models.Admission

@{
    ViewData["Title"] = "Admission";
    var vitals = ViewBag.Vitals as List<e_Prescription.Models.Vital>;
    var hasNotifications = ViewBag.Notifications != null && (ViewBag.Notifications as List<string>)?.Any() == true;
    var hasAlertMessage = ViewBag.AlertMessage != null;
}

@* Include the step indicator *@
@await Html.PartialAsync("StepIndicator", "Admission")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        .equal-input {
            width: 100%;
            max-width: 150px; /* Adjust the width as needed */
        }

        .centered-container {
            display: flex;
            justify-content: center;
            margin-top: 20px; /* Adjust margin as needed */
        }

        .modal-header {
            background-color: #dc3545; /* Primary color */
            color: #fff; /* White text */
        }

        .modal-header1 {
            background-color: #28a745; /* Primary color */
            color: #fff; /* White text */
        }
    </style>
</head>

<body>
    <div class="stepper-content py-3">
        <div class="col-10 mx-auto pt-0 p-0">
            <div class="card justify-content-center">
                <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
                    <h4 class="text-center">Admission for @ViewBag.PatientName</h4>
                </div>
                <form enctype="multipart/form-data" asp-action="Admission" method="post" style="width: 100%;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.Notifications != null)
                    {
                        var notifications = ViewBag.Notifications as List<string>;
                        if (notifications != null && notifications.Any())
                        {
                            <div class="notification">
                                <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                                            </div>
                                            <div class="modal-body">
                                                @foreach (var notification in notifications)
                                                {
                                                    <p>@notification</p>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <a asp-controller="Admission" class="btn btn-success" asp-action="History" asp-route-patientId="@Model.PatientId">Continue</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else if (ViewBag.AlertMessage != null)
                    {
                        <div class="alert">
                            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header1">
                                            <h5 class="modal-title" id="alertModalLabel">Alert</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-success d-flex justify-content-center">
                                                @ViewBag.AlertMessage
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-controller="Admission" class="btn btn-success" asp-action="History" asp-route-patientId="@Model.PatientId">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <input asp-for="PatientId" class="form-control" hidden />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="WardId" class="control-label">Ward</label>
                                            <select asp-for="WardId" class="form-control" id="wardId" asp-items="@ViewBag.Wards" aria-required="true" required>
                                                <option selected disabled>--Select Ward--</option>
                                            </select>
                                            <span asp-validation-for="WardId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="BedId" class="control-label">Bed</label>
                                            <select asp-for="BedId" class="form-control" id="bedId" aria-required="true" required>
                                                <option selected disabled>--Select Bed--</option>
                                            </select>
                                            <span asp-validation-for="BedId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Weight" class="control-label"></label>
                                            <input asp-for="Weight" class="form-control" aria-required="true" style="width: 100%;" required />
                                            <span asp-validation-for="Weight" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Height" class="control-label"></label>
                                            <input asp-for="Height" class="form-control" aria-required="true" style="width: 100%;" required />
                                            <span asp-validation-for="Height" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <table id="ExpTable" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Vital Name</th>
                                        <th>Readings</th>
                                        <th>Normal Range</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < vitals.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @vitals[i].VitalName
                                                <input type="hidden" name="PatientVitals[@i].VitalId" value="@vitals[i].VitalId" />
                                            </td>
                                            <td>
                                                <input type="text" name="PatientVitals[@i].Reading" class="form-control equal-input" aria-required="true" required />
                                            </td>
                                            <td>
                                                @vitals[i].LowLimit - @vitals[i].HighLimit @vitals[i].Units
                                            </td>
                                            <td>
                                                <input type="time" name="PatientVitals[@i].Time" class="form-control equal-input" aria-required="true" required />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="centered-container">
                            <input type="submit" value="Submit" class="btn btn-success btn-block" />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            // Bind change event
            $('#wardId').change(function () {
                getBedByWardId();
            });

            // Trigger modals if there are notifications or alerts
            var hasNotifications = @Html.Raw(Json.Serialize(hasNotifications));
            var hasAlertMessage = @Html.Raw(Json.Serialize(hasAlertMessage));

            if (hasNotifications) {
                $('#notificationModal').modal('show');
            } else if (hasAlertMessage) {
                $('#alertModal').modal('show');
            }
        });

        function getBedByWardId() {
            var wardId = $('#wardId').val();
            if (wardId) {
                $.ajax({
                    url: '@Url.Action("GetBedByWardId", "Admission")', // Ensure this is properly processed server-side
                    type: 'GET',
                    data: { wardId: wardId },
                    success: function (data) {
                        var BedDropdown = $('#bedId');
                        BedDropdown.empty();
                        BedDropdown.append('<option selected disabled>--Select Bed--</option>');

                        $.each(data, function (index, item) {
                            BedDropdown.append('<option value="' + item.bedId + '">' + item.bedName + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching beds:', status, error);
                    }
                });
            }
        }
    </script>
</body>
</html>
