@model e_Prescription.Models.PatientHistory

@{
    ViewData["Title"] = "Add Patient History";
}

@await Html.PartialAsync("StepIndicator", "History")

<head>
    <style>
        .equal-input {
            width: 100%;
            max-width: 150px;
        }

        .centered-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .form-card {
            border: 5px solid #f5f5f5;
            padding: 20px;
            background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
            border-radius: 20px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #28a745;
            color: #ffffff;
            text-align: center;
            padding: 10px 0;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary, .btn-success {
            border-radius: 10px;
        }

        .modal-header {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .modal-header .checkmark {
                font-size: 50px;
                color: green;
            }

        .modal-footer .btn-success {
            width: 100px;
        }

        .modal-content {
            border-radius: 20px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <div class="col-10 mx-auto pt-0 p-0">
        <div class="form-card">
            <div class="card-header">
                <h4 class="text-center">Add Patient History for @ViewBag.PatientName</h4>
            </div>
            <form id="historyForm" enctype="multipart/form-data" asp-action="History" method="post" style="width: 100%;">
                <br />
                @if (TempData["AlertMessage"] != null)
                {
                    <!-- Modal Trigger -->
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#successModal').modal({
                                backdrop: 'static',
                                keyboard: false
                            }).modal('show');
                        });
                    </script>

                    <!-- Success Modal -->
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="checkmark" style="font-size: 48px; color: green;">✔</span>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>@TempData["AlertMessage"]</h5>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <a asp-controller="Admission" class="btn btn-success" asp-action="NurseLandingPage">Complete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PatientId" />

                            <div class="form-group row">
                                <div class="col-md-10 mt-3">
                                    <label asp-for="SelectedConditions">Select Conditions:</label>
                                    <select asp-for="SelectedConditions" class="form-control selectpicker" name="SelectedConditions" multiple="multiple" data-live-search="true" data-actions-box="true" style="width: 100%; max-height: 150px; overflow-y: auto;">
                                        @foreach (var condition in (SelectList)ViewBag.Conditions)
                                        {
                                            <option value="@condition.Value">@condition.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SelectedConditions" class="text-danger"></span>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="noConditions" name="NoConditions" />
                                        <label class="form-check-label" for="noConditions">None</label>
                                    </div>
                                </div>

                                <div class="col-md-10 mt-3">
                                    <label asp-for="SelectedMedications">Select Medications:</label>
                                    <select asp-for="SelectedMedications" class="form-control selectpicker" name="SelectedMedications" multiple="multiple" data-live-search="true" data-actions-box="true" style="width: 100%; max-height: 150px; overflow-y: auto;">
                                        @foreach (var medication in (SelectList)ViewBag.Medications)
                                        {
                                            <option value="@medication.Value">@medication.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SelectedMedications" class="text-danger"></span>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="noMedications" name="NoMedications" />
                                        <label class="form-check-label" for="noMedications">None</label>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <label asp-for="SelectedAllergies">Select Allergies:</label>
                                    <select asp-for="SelectedAllergies" class="form-control selectpicker" name="SelectedAllergies" multiple="multiple" data-actions-box="true" style="width: 100%; max-height: 150px; overflow-y: auto;">
                                        @foreach (var allergy in (SelectList)ViewBag.Allergies)
                                        {
                                            <option value="@allergy.Value">@allergy.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SelectedAllergies" class="text-danger"></span>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="noAllergies" name="NoAllergies" />
                                        <label class="form-check-label" for="noAllergies">None</label>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="text-center">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </form>
            <br />
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
         }
        <script type="text/javascript">
            $(document).ready(function () {
                // Check and set initial state for allergies
                if ($('#noAllergies').is(':checked')) {
                    $('select[name="SelectedAllergies"]').prop('disabled', true).selectpicker('refresh').val([]);
                } else {
                    $('select[name="SelectedAllergies"]').prop('disabled', false).selectpicker('refresh');
                }

                // Check and set initial state for conditions
                if ($('#noConditions').is(':checked')) {
                    $('select[name="SelectedConditions"]').prop('disabled', true).selectpicker('refresh').val([]);
                } else {
                    $('select[name="SelectedConditions"]').prop('disabled', false).selectpicker('refresh');
                }

                // Check and set initial state for medications
                if ($('#noMedications').is(':checked')) {
                    $('select[name="SelectedMedications"]').prop('disabled', true).selectpicker('refresh').val([]);
                } else {
                    $('select[name="SelectedMedications"]').prop('disabled', false).selectpicker('refresh');
                }

                // Bind checkbox change events
                $('#noAllergies').change(function () {
                    if ($(this).is(':checked')) {
                        $('select[name="SelectedAllergies"]').prop('disabled', true).selectpicker('refresh').val([]);
                    } else {
                        $('select[name="SelectedAllergies"]').prop('disabled', false).selectpicker('refresh');
                    }
                });

                $('#noConditions').change(function () {
                    if ($(this).is(':checked')) {
                        $('select[name="SelectedConditions"]').prop('disabled', true).selectpicker('refresh').val([]);
                    } else {
                        $('select[name="SelectedConditions"]').prop('disabled', false).selectpicker('refresh');
                    }
                });

                $('#noMedications').change(function () {
                    if ($(this).is(':checked')) {
                        $('select[name="SelectedMedications"]').prop('disabled', true).selectpicker('refresh').val([]);
                    } else {
                        $('select[name="SelectedMedications"]').prop('disabled', false).selectpicker('refresh');
                    }
                });
            });
        </script>
    }
</body>
