@model IEnumerable<e_Prescription.Models.Admission>

@{
    Layout = "_Layout2";
}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p class="lead">List of all your patients</p>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Admission Time</th>
                            <th>Ward and Bed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var admission in Model)
                        {
                            <tr>
                                <td>@admission.Patient.IdNumber</td>
                                <td>@admission.Patient.Firstname</td>
                                <td>@admission.Patient.Lastname</td>
                                <td>@admission.Patient.Gender</td>
                                <td>@admission.AdmissionDate.ToShortTimeString()</td>
                                <td>@admission.Ward.WardName - @admission.Bed.BedName</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Admission" asp-action="ViewAdmission" asp-route-patientId="@admission.Patient.IdNumber">Manage Admission</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="text-center mt-4">
            <h4>No admitted patients found.</h4>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
