@model IEnumerable<e_Prescription.Models.Admission>

@{
    ViewData["Title"] = "Admitted Patient";
}

<style>
    .card-deck .card {
        margin-bottom: 20px;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .modal-body button {
            margin-top: 10px;
        }
    .card{
        border: 0px;
    }

    

    .align-right {
        text-align: right;
    }

    .form-card {
        border: 5px solid #f5f5f5;
        padding: 20px;
        overflow: hidden;
        background: linear-gradient(to bottom right, #ffffff, #f0f0f0), radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 60%, rgba(230,230,230,1) 100%);
        background-blend-mode: overlay;
        border-radius: 20px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .card {
        background-color: lightgray;
        color: #000;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #28a745;
        color: #ffffff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-align: center;
        padding: 10px 0;
    }
</style>

<div class="col-12 mx-auto pt-0 p-0">
    <div class="form-card">

        @if (Model != null && Model.Any())
        {
            <div class="d-flex justify-content-end">
                <button onclick="downloadPDF()" class="btn btn-primary btn-sm">
                    <i class="fas fa-download"></i> Download PDF
                </button>
            </div>


            <div class="card-deck" id="card-content">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title card-header bg-success d-flex justify-content-between align-items-center">
                                <h5 class="mb-0"><strong>@item.Patient?.IdNumber @item.Patient?.Firstname @item.Patient?.Lastname</strong></h5>
                                <button class="btn btn-info" onclick="openViewPrescriptionModal('@Url.Action("ViewPrescription", "Admission", new { admissionId = item.Id })')">View prescription</button>
                            </div>

                            <div>
                                <p class="card-text"><strong>Gender:</strong> @item.Patient?.Gender</p>
                                <p class="card-text"><strong>Admission time:</strong> @item.AdmissionDate.ToLongDateString(), @item.AdmissionDate.ToShortTimeString()</p>
                                <p class="card-text"><strong>Ward and Bed:</strong> @item.Ward?.WardName - @item.Bed?.BedName</p>
                            </div>
                            <div class="align-right">
                                <p class="card-text"><strong>Surgeon Responsible:</strong> Dr. @item.Patient?.PatientBooking.ApplicationUser.FirstName @item.Patient?.PatientBooking.ApplicationUser.LastName</p>
                                <p class="card-text"><strong>Contact:</strong> @item.Patient?.PatientBooking.ApplicationUser.ContactNumber / @item.Patient?.PatientBooking.ApplicationUser.Email</p>
                            </div>


                            <p class="card-text"><strong>Vitals:</strong></p>
                            <div>
                                <p class="card-text"><strong>Weight:</strong> @item.Weight Kg &nbsp; &nbsp; <strong>Height:</strong> @item.Height cm</p>
                            </div>
                            <table class="table table-sm table-striped">
                                <thead class="card-header-t bg-success text-white">
                                    <tr>
                                        <th>Vital name</th>
                                        <th>Reading</th>
                                        <th>Time</th>
                                        <th>Note</th>
                                        <th>Normal range</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (item.PatientsVitals != null && item.PatientsVitals.Any())
                                    {
                                        @foreach (var vital in item.PatientsVitals)
                                        {
                                            var reading = vital.Reading;
                                            bool isReadingValid = double.TryParse(reading, out double readingValue);

                                            bool isOutOfRange = false;

                                            // Convert LowLimit and HighLimit from string to double for comparison
                                            if (double.TryParse(vital.Vitals?.LowLimit, out double lowLimit) && double.TryParse(vital.Vitals?.HighLimit, out double highLimit))
                                            {
                                                isOutOfRange = isReadingValid && (readingValue < lowLimit || readingValue > highLimit);
                                            }

                                            // Check if the reading is in the "blood pressure" format
                                            bool isBloodPressureFormat = reading.Contains("/");

                                            // Determine row style based on note content
                                            string rowStyle = vital.Note?.Contains("Out of range") == true ? "background-color: orangered" : "";

                                            <tr style="@rowStyle">
                                                <td>@vital.Vitals?.VitalName</td>
                                                <td>@vital.Reading @vital.Vitals?.Units</td>
                                                <td>@vital.Time.ToShortTimeString()</td>
                                                <td>@vital.Note</td>
                                                <td>@vital.Vitals?.LowLimit - @vital.Vitals?.HighLimit @vital.Vitals?.Units</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">None</td>
                                        </tr>
                                    }
                                </tbody>



                            </table>

                            <!-- Button to Email Vitals -->
                            <div class="d-flex justify-content-end mt-3">
                                <button data-toggle="modal" data-target="#vitalsNoteModal" class="btn btn-secondary btn-sm">
                                    <i class="fas fa-envelope"></i> Email Vitals to Surgeon
                                </button>
                            </div>

                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-md-4 mb-1">
                                        <!-- Reduced margin-bottom -->
                                        <div class="card">
                                            <p class="card-text card-header bg-success d-flex justify-content-center" style="height:40px;">
                                                <strong>Allergies</strong>
                                            </p>
                                            <ul class="list-group list-group-flush">
                                                @if (item.Patient?.PatientAllergies != null && item.Patient.PatientAllergies.Any())
                                                {
                                                    @foreach (var allergy in item.Patient.PatientAllergies)
                                                    {
                                                        <li class="list-group-item">@allergy.ActiveIngredient?.IngredientName</li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li class="list-group-item">None</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-1">
                                        <!-- Reduced margin-bottom -->
                                        <div class="card">
                                            <p class="card-text card-header  bg-success d-flex justify-content-center" style="height:40px;">
                                                <strong>Conditions</strong>
                                            </p>
                                            <ul class="list-group list-group-flush">
                                                @if (item.Patient?.PatientConditions != null && item.Patient.PatientConditions.Any())
                                                {
                                                    @foreach (var condition in item.Patient.PatientConditions)
                                                    {
                                                        <li class="list-group-item">@condition.ChronicCondition?.Diagnosis</li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li class="list-group-item">None</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-1">
                                        <!-- Reduced margin-bottom -->
                                        <div class="card">
                                            <p class="card-text card-header bg-success d-flex justify-content-center" style="height:40px;">
                                                <strong>Medications</strong>
                                            </p>
                                            <ul class="list-group list-group-flush">
                                                @if (item.Patient?.PatientMedications != null && item.Patient.PatientMedications.Any())
                                                {
                                                    @foreach (var medication in item.Patient.PatientMedications)
                                                    {
                                                        <li class="list-group-item">
                                                            <strong>@medication.Medication?.MedicationName:</strong>
                                                            @if (medication.Medication?.MedicationIngredient != null)
                                                            {
                                                                <div>
                                                                    @medication.Medication.MedicationIngredient.ActiveIngredient?.IngredientName (@medication.Medication.MedicationIngredient.IngredientStrength) * [@medication.Medication?.Schedule]
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div>No active ingredients listed</div>
                                                            }
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li class="list-group-item">None</li>
                                                }
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>

            <div class="form-container d-flex">
                <div class="mt-3 add-vitals-form">
                    <form asp-action="AddVitals" asp-controller="Admission" method="get" class="form-inline">
                        <div class="form-group">
                            <label for="selectAdmissionIdAddVitals" class="mr-2">Admission:</label>
                            <select id="selectAdmissionIdAddVitals" name="admissionId" class="form-control mr-2">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Patient.Lastname - @item.AdmissionDate.ToShortDateString()</option>
                                }
                            </select>
                            <button type="button" class="btn btn-success" onclick="openReCaptureVitalsModal()">Re-capture vitals</button>
                        </div>
                    </form>
                </div>

                <div class="mt-3 discharge-form ml-auto">
                    <form asp-action="Discharge" asp-controller="Admission" method="get" class="form-inline">
                        <div class="form-group">
                            <label for="selectAdmissionIdDischarge" class="mr-2">Admission:</label>
                            <select id="selectAdmissionIdDischarge" name="admissionId" class="form-control mr-2">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Patient.Lastname - @item.AdmissionDate.ToShortTimeString()</option>
                                }
                            </select>
                            <button type="button" class="btn btn-danger" onclick="openDischargeModal()">Discharge patient</button>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <p>Search For Admission</p>
        }
        <div class="d-flex justify-content-center">
            <a asp-controller="Admission" asp-action="NursePatients" type="button" class="btn btn-info">Go Back</a>
        </div>
    </div>
</div>

<!-- Patient Vitals Modal -->
<div class="modal fade" id="patientVitalsModal" tabindex="-1" role="dialog" aria-labelledby="patientVitalsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white justify-content-center">
                <h5 class="modal-title text-center" id="patientVitalsModalLabel">Patient Vitals</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="patientVitalsModalBody">
                <!-- Content loaded dynamically -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Re-Capture Vitals Modal -->
<div class="modal fade" id="reCaptureVitalsModal" tabindex="-1" role="dialog" aria-labelledby="reCaptureVitalsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white justify-content-center">
                <h5 class="modal-title text-center" id="reCaptureVitalsModalLabel">Re-Capture Vitals</h5>
               @*  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> *@
            </div>
            <div class="modal-body" id="reCaptureVitalsModalBody">
                <!-- Content loaded dynamically -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- View Prescription Modal -->
<div class="modal fade" id="viewPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="viewPrescriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white justify-content-center">
                <h5 class="modal-title text-center" id="viewPrescriptionModalLabel">View Prescription</h5>
            </div>
            <div class="modal-body" id="viewPrescriptionModalBody">
                <!-- Content loaded dynamically -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Discharge Modal -->
<div class="modal fade" id="DischargeModal" tabindex="-1" role="dialog" aria-labelledby="DischargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white justify-content-center">
                <h5 class="modal-title text-center" id="DischargeModalLabel">Discharge Patient</h5>
                @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> *@
            </div>
            <div class="modal-body" id="DischargeModalBody">
                <!-- Content loaded dynamically -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for the pop-up form -->
<div class="modal fade" id="vitalsNoteModal" tabindex="-1" role="dialog" aria-labelledby="vitalsNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vitalsNoteModalLabel">Add Note for Vitals</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EmailVitals" asp-controller="EmailSender" method="post">
                    <input type="hidden" name="AdmissionId" value="@Model.FirstOrDefault()?.Id" />
                    <div class="form-group">
                        <label for="note">Note:</label>
                        <textarea class="form-control" id="note" name="Note" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="Password" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function openPatientVitalsModal(url) {
            $('#patientVitalsModalBody').load(url, function () {
                $('#patientVitalsModal').modal('show');
            });
        }

        function openReCaptureVitalsModal() {
            var selectedAdmissionId = $('#selectAdmissionIdAddVitals').val();
            var url = '@Url.Action("AddVitals", "Admission")' + '?admissionId=' + selectedAdmissionId;
            $('#reCaptureVitalsModalBody').load(url, function () {
                $('#reCaptureVitalsModal').modal('show');
            });
        }

        function openDischargeModal() {
            var selectedAdmissionId = $('#selectAdmissionIdDischarge').val();
            var url = '@Url.Action("Discharge", "Admission")' + '?admissionId=' + selectedAdmissionId;
            $('#DischargeModalBody').load(url, function () {
                $('#DischargeModal').modal('show');
            });
        }

        function openViewPrescriptionModal(url) {
            $('#viewPrescriptionModalBody').load(url, function () {
                $('#viewPrescriptionModal').modal('show');
            });
        }

        function downloadPDF() {
            const element = document.getElementById('card-content');
            html2pdf(element, {
                margin: 10,
                filename: 'patient_admission.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            });
        }

        //Email sender
        function sendVitalsEmail(admissionId) {
            var url = '@Url.Action("EmailVitals", "EmailSender")' + '?admissionId=' + admissionId;
            window.location.href = url;
        }
    </script>
}
