@using e_Prescription.Models.ViewModels
@model PrescriptionViewModel
@{
    ViewData["Title"] = "Patient Prescription";
    var admissionId = Model.PrescriptionItems?.FirstOrDefault()?.Prescription?.Admission?.Id;
}

<style>
    .form-card {
        border: 5px solid #f5f5f5;
        padding: 10px;
        overflow: hidden;
        background: linear-gradient(to bottom right, #ffffff, #f0f0f0), /* Existing linear gradient */
        radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 60%, rgba(230,230,230,1) 100%); /* Added radial gradient */
        background-blend-mode: overlay; /* Blend the gradients for a more dynamic effect */
        border-radius: 20px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .card {
        background-color: lightgray;
        color: #000;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }



    .card-header {
        background-color: #28a745;
        color: #ffffff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-align: center;
        padding: 10px 0;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .table {
        margin-top: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .btn-primary,
    .btn-success,
    .btn-info {
        border-radius: 10px;
    }

    .text-danger h1 {
        font-size: 1.5rem;
    }

    .administered-medication-card {
        margin-top: 20px;
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .administered-medication-list {
        list-style-type: none;
        padding-left: 0;
    }

    .administered-medication-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        .administered-medication-item:last-child {
            border-bottom: none;
        }
</style>

<div class="container">
    <div class="form-card">
        @if (TempData["AdministrationSuccess"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["AdministrationSuccess"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-striped table-sm table-sm-custom">
                    <thead>
                        <tr>
                            <th>Patient ID NO.</th>
                            <th>Medication Name</th>
                            <th>Quantity</th>
                            <th>Instructions</th>
                            <th>Time</th>
                            <th>Surgeon</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PrescriptionItems != null && Model.PrescriptionItems.Any())
                        {
                            @foreach (var item in Model.PrescriptionItems)
                            {
                                <tr>
                                    <td>@item.Prescription.Admission.Patient.IdNumber</td>
                                    <td>@item.PharmacyMedication.MedicationName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Instruction</td>
                                    <td>@item.Prescription.PresciptionDate.ToShortTimeString()</td>
                                    <td>Dr. @item.Prescription.ApplicationUser.FirstName @item.Prescription.ApplicationUser.LastName</td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#administerMedicationModal" data-prescriptionitem-id="@item.PrescriptionItemId" data-admission-id="@admissionId">
                                            <i class="fas fa-pills"></i> Administer
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Prescription available for this patient</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-info" onclick="history.back()">Go Back</button>
                </div>
            </div>
        </div>

        <!-- Administered Medications Section -->
        <div class="card mt-4">
            <div class="card-header">
                Medications Administered
            </div>
            <div class="card-body">
                @if (Model.MedicationsGiven != null && Model.MedicationsGiven.Any())
                {
                    <table class="table table-striped table-sm table-sm-custom">
                        <thead>
                            <tr>
                                <th>Medication Name</th>
                                <th>Quantity</th>
                                <th>Time</th>
                                <th>Nurse</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MedicationsGiven)
                            {
                                <tr>
                                    <td>@item.PrescriptionItem.PharmacyMedication.MedicationName</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Time.ToString("HH:mm")</td>
                                    <td>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</td>
                                    <td>@item.PrescriptionItem.Prescription.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No medications have been administered to this patient yet.</p>
                }
            </div>
        </div>
    </div>
</div>

<!-- Administer Medication Modal -->
<div class="modal fade" id="administerMedicationModal" tabindex="-1" aria-labelledby="administerMedicationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title text-white" id="administerMedicationModalLabel">Administer Medication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="administerMedicationForm" asp-action="AdministerMedication" method="post">
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="AdministerDate" class="form-label">Time</label>
                            <input type="time" class="form-control" id="AdministerDate" name="Time" value="@DateTime.Now.ToString("HH:mm")" required />
                        </div>
                        <div class="mb-3 col-md-5">
                            <label for="Quantity" class="form-label">Quantity to Administer</label>
                            <input type="number" class="form-control" id="Quantity" name="Quantity" required />
                        </div>
                    </div>

                    <input type="hidden" id="PrescriptionItemId" name="PrescriptionItemId" />
                    <input type="hidden" id="AdmissionId" name="AdmissionId" />
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Administer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var administerMedicationModal = document.getElementById('administerMedicationModal');
    administerMedicationModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var prescriptionItemId = button.getAttribute('data-prescriptionitem-id'); // Extract info from data-* attributes
        var admissionId = button.getAttribute('data-admission-id'); // Extract admissionId
        var modal = $(this);
        modal.find('.modal-body #PrescriptionItemId').val(prescriptionItemId); // Set the hidden input value
        modal.find('.modal-body #AdmissionId').val(admissionId); // Set the hidden input value
    });
</script>


