@* @model IEnumerable<e_Prescription.Models.MedicationGiven>

@{
    Layout = null; 
    ViewData["Title"] = "Patient Vitals";
}

<style>
    .table-sm-custom th, .table-sm-custom td {
        padding: 0.8rem;
    }
</style>

<div class="table-responsive">
    <table class="table table-striped table-sm table-sm-custom">
        <thead>
            <tr>
                <th>Ward and Bed</th>
                <th>Medication Name</th>
                <th>Quantity</th>
                <th>Instructions</th>
                <th>Time</th>
                <th>Surgeon</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Admission.Ward.WardName - @item.Admission.Bed.BedName</td>
                        <td>@item.MedicationName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Instruction</td>
                        <td>@item.Time.ToShortTimeString()</td>
                        <td>@item.Admission.ApplicationUser.FirstName (@item.Admission.ApplicationUser.Role)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No Prescription available for this patient</td>
                </tr>
            }
        </tbody>
    </table>

</div>
 *@