@model IEnumerable<e_Prescription.Models.Vital>

@{
    ViewData["Title"] = "Manage Vitals";
}

<style>
    .dashboard {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px; /* Add margin to create space between header and dashboard */
    }

</style>

<div class="col-md-12 mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
            <h4 class="text-center">Manage Vitals</h4>
       </div>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                       Vital Name
                    </th>
                    <th>
                        Low Limit
                    </th>
                    <th>
                        High Limit
                    </th>
                    <th>
                        Units
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VitalName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LowLimit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HighLimit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.VitalId">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

