@model IEnumerable<e_Prescription.Models.MedicationInteraction>

@{
    ViewData["Title"] = "ManageMedicalInteractions";
}

<h1>ManageMedicalInteractions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveIngredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredient.IngredientName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InterationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InterationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InterationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
