@model IEnumerable<e_Prescription.Models.PrescriptionItem>

@{
    ViewData["Title"] = "Prescriptions";
}

<style>
    .dashboard {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px; /* Add margin to create space between header and dashboard */
    }

    .align-left {
        align-items: flex-end;
        text-align: left;
    }

    .btn1 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

</style>
<div class="col-md-12 mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
            <h4 class="text-center">Manage Prescriptions</h4>
        </div>       

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <table class="table table-striped">
            <thead>
                <tr>   
                    <th>
                        Date
                    </th>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Surgeon Name
                    </th>                                      
                    <th>
                        Medication Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Status
                    </th> 
                    <th>
                        Urgency
                    </th>
                    <th>
                        Rejection Note
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Prescription.PresciptionDate.ToShortDateString()
                        </td>
                        <td>
                            @item.Prescription.Admission.Patient.Firstname
                        </td>
                        <td>
                            Dr. @item.Prescription.ApplicationUser.FirstName @item.Prescription.ApplicationUser.LastName
                        </td>
                        <td>
                            @item.PharmacyMedication.MedicationName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        
                        <td>
                            @item.Prescription.Status
                        </td>
                        <td>
                            @if (item.Prescription.IsUrgent)
                            {
                                <span class="badge badge-danger">Urgent</span>
                            }
                            else
                            {
                                <span>Not Urgent</span>
                            }
                        </td>
                        <td>
                            @item.RejectionNote
                        </td>

                        <td>
                            <a class="btn btn-info" href="@Url.Action("UpdatePrescriptionStatus", "Pharmacist", new { id = item.PrescriptionId })">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
    
