@model IEnumerable<e_Prescription.Models.ReceivedOrderViewModel>

@{
    ViewData["Title"] = "Received Medication";
}

<div class="col-md-12 mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
            <h4 class="text-center">Received Medication</h4>
        </div>

        <div class="d-flex justify-content-end btn1">
            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("ReceivedMedication", "Pharmacist")'">Add New Record</button>
        </div>

    <table class="table table-striped">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Medication Name</th>
                <th>Quantity Received</th>
                <th>Date Received</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    @* <td>@record.StockOrderId</td> *@
                    <td>@record.MedicationName</td>
                    <td>@record.QuantityReceived</td>
                    <td>@record.DateReceived.ToString("yyyy-MM-dd")</td>
                    <td>@record.Status</td>
                    <td>
                      <a class="btn btn-warning btn-sm" href="@Url.Action("UpdateStockReceived", "Pharmacist", new { id = record.StockOrderId})">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>
