@model ViewPrescriptionViewModel

@{
    ViewData["Title"] = "Update Prescription Status";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<div class="col-md-12 mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
            <h4 class="text-center">Update Prescription Status</h4>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-center">
                    <form asp-action="UpdatePrescriptionStatus" method="post">
                        <input type="hidden" name="id" value="@Model.PrescriptionItem?.PrescriptionId" />

                        <div class="form-group">
                            <label>Prescription Date:</label>
                            <p class="form-control-plaintext d-inline ml-2">
                                @Model.PrescriptionItem?.Prescription?.PresciptionDate
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Patient Name:</label>
                            <p class="form-control-plaintext d-inline ml-2">
                                @Model.PrescriptionItem?.Prescription?.Admission?.Patient?.Firstname
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Surgeon Name:</label>
                            <p class="form-control-plaintext d-inline ml-2">
                                Dr. @Model.PrescriptionItem?.Prescription?.ApplicationUser?.FirstName @Model.PrescriptionItem?.Prescription?.ApplicationUser?.LastName
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Medication Name:</label>
                            <p class="form-control-plaintext d-inline ml-2">@Model.PrescriptionItem?.PharmacyMedication?.MedicationName</p>
                        </div>
                        <div class="form-group">
                            <label>Quantity:</label>
                            <p class="form-control-plaintext d-inline ml-2">@Model.PrescriptionItem?.Quantity</p>
                        </div>
                        <div class="form-group">
                            <label>Instructions:</label>
                            <p class="form-control-plaintext d-inline ml-2">@Model.PrescriptionItem?.Instruction</p>
                        </div>
                        <div class="form-group">
                            <label>Vitals:</label>
                            <a class="btn btn-info" href="@Url.Action("ViewPatientVitals", "Admission", new { admissionId = Model.PrescriptionItem?.Prescription?.AdmissionId })">View</a>
                        </div>

                        <div class="form-group">
                            <label>Medical History:</label>
                            <a class="btn btn-info" href="@Url.Action("ViewPatientHistory", "Pharmacist", new { admissionId = Model.PrescriptionItem?.Prescription?.AdmissionId })">View</a>
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" id="statusDropdown" asp-items="Model.StatusOptions">
                                <option selected disabled>--Select status--</option>
                            </select>
                        </div>

                        <div class="form-group" id="rejectionReasonContainer" style="display: none;">
                            <label>Reason for Rejection</label>
                            <textarea class="form-control" name="rejectionReason" rows="3"></textarea>
                        </div>

                        <div class="form-group text-right">
                            <a href="@Url.Action("GetPrescriptions", "Pharmacist")" class="btn btn-secondary ml-2">Back</a>
                            <button type="submit" class="btn btn-primary">Update Status</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Allergy Warning -->
<div class="modal fade" id="allergyWarningModal" tabindex="-1" aria-labelledby="allergyWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="allergyWarningLabel">
                    <i class="fas fa-exclamation-triangle text-warning" style="font-size: 48px;"></i>
                </h5>
            </div>
            <div class="modal-body text-center">
                @TempData["AllergyWarning"]
            </div>
        </div>
    </div>
</div>

<!-- Modal for Medical Interaction Warning -->
<div class="modal fade" id="medInterWarningModal" tabindex="-1" aria-labelledby="medInterWarningLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="medInterWarningLabel">
                    <i class="fas fa-exclamation-triangle text-warning" style="font-size: 48px;"></i>
                </h5>
            </div>
            <div class="modal-body text-center">
                @TempData["ContraIndicationWarning"]
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Show the allergy warning modal if there's a warning message
            var allergyWarning = "@TempData["AllergyWarning"]";
            if (allergyWarning) {
                $('#allergyWarningModal').modal('show');
                setTimeout(function () {
                    $('#allergyWarningModal').modal('hide');
                }, 5000); // 8000 milliseconds = 8 seconds
            }

            // Show the medical interaction warning modal if there's a warning message
            var medInterWarning = "@TempData["ContraIndicationWarning"]";
            if (medInterWarning) {
                $('#medInterWarningModal').modal('show');
                setTimeout(function () {
                    $('#medInterWarningModal').modal('hide');
                }, 5000); // 8000 milliseconds = 8 seconds
            }
        });


        document.getElementById('statusDropdown').addEventListener('change', function () {
            var rejectionReasonContainer = document.getElementById('rejectionReasonContainer');
            if (this.value === 'Rejected') {
                rejectionReasonContainer.style.display = 'block'; // Show text box
            } else {
                rejectionReasonContainer.style.display = 'none'; // Hide text box
            }
        });
    </script>
}
